<ion-header>
  <ion-navbar color="colour_a">
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngIf="operation === 'register'">
            <ion-label fixed>Nick</ion-label>
            <ion-input type="text" [(ngModel)]="nick"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="operation === 'register'">
          <ion-label fixed>Repetir</ion-label>
          <ion-input type="password" [(ngModel)]="password2"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label fixed>Recordarme</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>

  <div padding>
    <span *ngIf="operation === 'register'">Ya tienes cuenta? <a (click)="operation = 'login'"><b>Click Aquí</b></a></span>
    <span *ngIf="operation === 'login'">Aun no tienes cuenta? <a (click)="operation = 'register'"><b>Click Aquí</b></a></span>
    <hr />
    <button *ngIf="operation === 'login'" ion-button  (click)="loginWithEmail()" block>Ingresar</button>
    <button *ngIf="operation === 'register'" ion-button (click)="registerWithEmail()" block>Registrarse</button>

   </div>
</ion-content>
