page-campaigns-list-my {

    .circle-avatar{
        border-radius: 50%;
        overflow: hidden;
        width: 36px;
        height: 36px;
        background-color: bisque;
        padding: 3%;
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
