<ion-header>
  <ion-navbar color="colour_a">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons start *ngIf="iconViewstatus" (click)="goProfile()">
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content >

    <ion-item  *ngFor="let camp of campaigns" not-lines >

      <ion-card >

        <ion-card-header (click)="goCampaignDetails(camp.id)" >
            <ion-row justify-content-start align-items-start>
                <ion-col  no-padding text-left>
                    {{camp.patient}}
                </ion-col>

              </ion-row>

              <ion-row>

                <ion-col  >
                    <ion-item>
                        <ion-icon name="water" item-start color="danger" no-padding ></ion-icon>
                        <ion-badge  class="number-donors" color="danger">{{camp.bloode_type}}</ion-badge>

                      </ion-item>
                </ion-col>
                <ion-col  >
                    <ion-item>


                        <ion-badge  class="number-donors">{{camp.donor_received | number }} / {{camp.number_of_donors}}</ion-badge>
                      </ion-item>
                </ion-col>

              </ion-row>
        </ion-card-header>

        <!-- <ion-card-content (click)="goCampaignDetails(camp.id)">
          <p>{{camp.hospital_name}} - {{camp.city}}</p>
        </ion-card-content> -->

        <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='medkit'></ion-icon>
                {{camp.hospital_name}}
              </button>
            </ion-col>

            <ion-col text-right>
              <button ion-button clear small color="danger" (click)="share(camp)" icon-start>
                <ion-icon name='share'></ion-icon>

              </button>
            </ion-col>
          </ion-row>

      </ion-card>
    </ion-item>






  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <ion-toolbar  text-center>

      <button ion-button round color="colour_a" (click)="cleanFilter()">Limpiar busqueda</button>
      <button ion-button round color="colour_a" (click)="goViewFilter()">Busqueda</button>
    </ion-toolbar>
  </ion-footer>
