<ion-header>
  <ion-navbar color="colour_a">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons start *ngIf="iconViewstatus" (click)="goProfile()">
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content >

    <ion-item  *ngFor="let camp of campaigns" not-lines >

      <ion-card (click)="goCampaignDetails(camp.id)">

        <ion-card-header>
            <ion-row>
                <ion-col>
                    {{camp.patient}}
                </ion-col>

                <ion-col align-self-center text-center>
                    <ion-buttons end   (click)="share(camp)">
                        <button ion-button clear small color="danger" icon-only>
                          <ion-icon name="share"></ion-icon>
                        </button>
                      </ion-buttons>
                </ion-col>
              </ion-row>
        </ion-card-header>

        <ion-card-content>
          <p>{{camp.hospital_name}} - {{camp.city}}</p>
          <p>{{camp.bloode_type}}</p>
        </ion-card-content>

      </ion-card>
    </ion-item>






  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <ion-toolbar>

      <button ion-button (click)="cleanFilter()">Limpiar Filtros</button>
      <button ion-button (click)="goViewFilter()">filtro</button>
    </ion-toolbar>
  </ion-footer>
